<ion-view title="Haiku " id="page1" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <form id="haiku-form3" class="list esp4">
            <label class="item item-input esp1" id="haiku-input2">
                <input type="text" placeholder="">
            </label>
            <label class="item item-input esp2" id="haiku-input3">
                <input type="text" placeholder="">
            </label>
            <label class="item item-input esp3" id="haiku-input4">
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>